<%= render :partial => 'layouts/form_error_list', :locals => {objeto: pedido} %>


<%= form_with(model: pedido, local: true) do |form| %>
  <div class="row">
    <div class="form-group col-md-12">
      <%= form.label :produto_id %>
      <%= form.select :produto_id, @produtos.all.collect {|p| [p.nome, p.id]}, {}, {:class => 'form-control'} %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :quantidade %>
      <%= form.number_field :quantidade, :class => 'form-control' %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :unidade_medida_id %>
      <%= form.select :unidade_medida_id, @unidade_medidas.all.collect {|p| [p.nome, p.id]}, {},
                      {:class => 'form-control'} %>
    </div>

    <div class="form-group col-md-12">
      <%= form.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
