<div class="row secao-botoes">
  <div class="col-md-12">
    <a href="<%= new_produto_path %>"><button class="btn btn-success fr" role="button" id="save_button">Incluir</button></a>
  </div>
</div>

<% if @produtos.empty? %>
  <div class="alert alert-warning">Não há nenhum produto cadastrado</div>
<% else %>
  <div class="table-responsive-sm">
    <table class="table table-light">
      <thead>
      <tr>
        <th class="col-md-6">Nome</th>
        <th class="col-md-6">Tipo</th>
        <th class="col-md-2 text-center" colspan="2">Ação</th>
      </tr>
      </thead>
      <tbody>
      <% @produtos.each do |produto| %>
        <tr>
          <td class="col-md-6"><%= produto.nome %></td>
          <td class="col-md-6"><%= produto.tipo_produto.blank? ? "" : produto.tipo_produto.nome %></td>
          <td class="col-md-1"><%= link_to edit_image_tag, edit_produto_path(produto) %></td>
          <td class="col-md-1"><%= link_to delete_image_tag, confirm_delete_produto_path(produto) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>