<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Compras</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="container">
      <% if @titulo_pagina %>
        <div class="cabecalho rounded">
          <span class="align-middle align-center"><%= @titulo_pagina %></span>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <div class="container menu-vertical rounded">
          <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarMenuPrincipal"
                    aria-controls="navBarMenuPrincipal" aria-expanded="false" aria-label="Abrir Menu">
              <span class="navbar-toggler-icon"></span>Menu
            </button>
            <div class="collapse navbar-collapse" id="navBarMenuPrincipal">
              <ul class="navbar-nav flex-column mr-auto mt-2 mt-lg-0">
                <li class="nav-item"><%= link_to "Lista de Compras", root_path, :class => "nav-link" %></li>
                <li class="nav-item"><%= link_to "Histórico", pedidos_fechados_path, :class => "nav-link" %></li>
                <li class="nav-item"><%= link_to "Produtos", produtos_path, :class => "nav-link" %></li>
                <li class="nav-item"><%= link_to "Pedidos", pedidos_path, :class => "nav-link" %></li>
                <li class="nav-item"><%= link_to "Unidades de Medida", unidade_medidas_path, :class => "nav-link" %></li>
                <li class="nav-item"><%= link_to "Usuários", usuarios_path, :class => "nav-link" %></li>
                <li class="nav-item"><%= link_to "Sair", user_sessions_path, method: :delete, :class => "nav-link" %></li>
              </ul>
            </div>
          </nav>
        </div>
      <% end %>


      <div id="" class="rounded <%= user_signed_in? ? 'conteudo-pagina' : 'login-flex' %>">
        <% if notice %>
          <div class="alert alert-success alert-dismissible">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-warning alert-dismissible">
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
